In [ ]:
OrdinalEncoder preserves the ordinal relationship between categories by assigning them ordinal integer values,
while LabelEncoder simply assigns unique integer labels to each category without considering any order.

In [ ]:
Target Guided Ordinal Encoding is a technique used to encode categorical variables based on the target variable in a supervised machine learning problem. It assigns ordinal values to categories based on their relationship with the target variable.

In [30]:
import pandas as pd

# create a sample dataframe with a categorical variable and a target variable
df=pd.DataFrame({
   'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
   'price':[200, 150, 300, 250, 180, 320]
})
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [31]:
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [32]:
df['city_encoded']=df['city'].map(mean_price)

In [33]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0

In [ ]:
Covariance is a measure of the relationship between two random variables. It indicates how much two variables change together. Specifically, it measures the degree to which two variables vary or move together relative to their means.

In statistical analysis, covariance is important because it helps us understand the relationship between two variables. For example, if two variables have a high positive covariance, it means that when one variable is above its mean, the other variable tends to be above its mean as well. Conversely, if they have a high negative covariance, it means that when one variable is above its mean, the other tends to be below its mean.

Covariance is calculated using the following formula:

cov
cov(X,Y)= n/1 ∑i=1(X i − Xˉ)(Y i− Yˉ )

In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    'Color':['red', 'green', 'blue'],
    'Size':['small',' medium', 'large'],
    'Material':['wood', 'metal', 'plastic']
}

df=pd.DataFrame(data)

label_encoder=LabelEncoder()
df['Color_encoded'] = label_encoder.fit_transform(df['Color'])
df['Size_encoded'] = label_encoder.fit_transform(df['Size'])
df['Material_encoded'] = label_encoder.fit_transform(df['Material'])

print(df)

   Color     Size Material  Color_encoded  Size_encoded  Material_encoded
0    red    small     wood              2             2                 2
1  green   medium    metal              1             0                 0
2   blue    large  plastic              0             1                 1

In [35]:
import pandas as pd

# Sample dataset
data = {
    'Age': [35, 45, 30, 25, 40],
    'Income': [50000, 60000, 45000, 70000, 55000],
    'Education': [16, 18, 14, 12, 15]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate covariance matrix
covariance_matrix = df.cov()

# Display covariance matrix
print("Covariance Matrix:")
print(covariance_matrix)

Covariance Matrix:
                Age      Income  Education
Age           62.50    -12500.0      16.25
Income    -12500.00  92500000.0   -6250.00
Education     16.25     -6250.0       5.00

In [36]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample dataset
data = {
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female'],
    'Education Level': ['High School', "Bachelor's", "Master's", 'PhD', "Bachelor's"],
    'Employment Status': ['Full-Time', 'Part-Time', 'Unemployed', 'Full-Time', 'Part-Time']
}
df=pd.DataFrame(data)

label_encoder=LabelEncoder()
df['Gender_encoded'] = label_encoder.fit_transform(df['Gender'])
df['Education Level_encoded'] = label_encoder.fit_transform(df['Education Level'])
df['Employment Status_encoded'] = label_encoder.fit_transform(df['Employment Status'])

print(df)

   Gender Education Level Employment Status  Gender_encoded  \
0    Male     High School         Full-Time               1
1  Female      Bachelor's         Part-Time               0
2    Male        Master's        Unemployed               1
3    Male             PhD         Full-Time               1
4  Female      Bachelor's         Part-Time               0

   Education Level_encoded  Employment Status_encoded
0                        1                          0
1                        0                          1
2                        2                          2
3                        3                          0
4                        0                          1

In [37]:
import pandas as pd

# Sample dataset
data = {
    'Temperature': [25, 28, 22, 20, 24],
    'Humidity': [60, 55, 70, 75, 65],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'North']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate covariance matrix
covariance_matrix = df[['Temperature', 'Humidity']].cov()

# Display covariance matrix
print("Covariance Matrix between Temperature and Humidity:")
print(covariance_matrix)

Covariance Matrix between Temperature and Humidity:
             Temperature  Humidity
Temperature         9.20    -23.75
Humidity          -23.75     62.50